/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/styles/TetrisAnimation.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
body {
    height: 100%;
	background-color: #110023;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .tetrisbg {
    width: 400px;
    height: 500px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  
  .a, .b, .c, .d, .e, .f, .g, .h, .i, .j {
    border: 1px solid;
    border-color: #110023;
	background-color: #110023;
    height: 60px;
    width: 60px;
    display: inline-block;
    z-index: -1;
  }
  
  .a:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
  }
  
  .b:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
  }
  
  .c:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
  }
  
  .c:nth-child(3) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
  }
  
  .d:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: .5s;
  }
  
  .d:nth-child(3) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: .5s;
  }
  
  .d:nth-child(4) {
    position: relative;
    animation-name: orange;
    animation-duration: 1s;
    animation-delay: .5s;
  }
  
  .c:nth-child(4) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: .5s;
  }
  
  .e:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 1s;
  }
  
  .e:nth-child(3) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 1s;
  }
  
  .e:nth-child(4) {
    position: relative;
    animation-name: orange;
    animation-duration: 1s;
    animation-delay: 1s;
  }
  
  
  .f:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 1.5s;
  }
  
  .f:nth-child(3) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 1.5s;
  }
  
  .f:nth-child(4) {
    position: relative;
    animation-name: orange;
    animation-duration: 1s;
    animation-delay: 1.5s;
  }
  
  .g:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 2s;
  }
  
  .g:nth-child(3) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 2s;
  }
  
  .g:nth-child(4) {
    position: relative;
    animation-name: orange;
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  .h:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 2.5s;
  }
  
  .h:nth-child(3) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 2.5s;
  }
  
  .h:nth-child(4) {
    position: relative;
    animation-name: orange;
    animation-duration: 1s;
    animation-delay: 2.5s;
  }
  
  .i:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 3s;
  }
  
  .i:nth-child(3) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 3s;
  }
  
  .i:nth-child(4) {
    position: relative;
    animation-name: orange;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .j:nth-child(2) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .j:nth-child(3) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .j:nth-child(4) {
    position: relative;
    animation-name: orange;
    animation-duration: .5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  
  .a:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: .5s;
    animation-delay: 4s;
  }
  
  .a:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: .5s;
    animation-delay: 4s;
  }
  
  .b:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 4s;
  }
  
  .b:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 4s;
  }
  
  .c:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 4.5s;
  }
  
  .c:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 4.5s;
  }
  
  .d:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 5s;
  }
  
  .d:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 5s;
  }
  
  .e:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 5.5s;
  }
  
  .e:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 5.5s;
  }
  
  .f:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 6s;
  }
  
  .f:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 6s;
  }
  
  .g:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 6.5s;
  }
  
  .g:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 6.5s;
  }
  
  .h:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 7s;
  }
  
  .h:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 7s;
  }
  
  .i:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .i:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: 1s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .j:nth-child(5) {
    position: relative;
    animation-name: lightblue;
    animation-duration: .5s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .j:nth-child(6) {
    position: relative;
    animation-name: lightblue;
    animation-duration: .5s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .a:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: .5s;
    animation-delay: 8.5s;
  }
  
  .b:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: 1s;
    animation-delay: 8.5s;
  }
  
  .c:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: 1.5s;
    animation-delay: 8.5s;
  }
  
  .d:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: 2s;
    animation-delay: 8.5s;
  }
  
  .e:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: 2s;
    animation-delay: 9s;
  }
  
  .f:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: 2s;
    animation-delay: 9.5s;
  }
  
  .g:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: 2s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .h:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: 1.5s;
    animation-delay: 10.5s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .i:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: 1s;
    animation-delay: 11s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  .j:nth-child(1) {
    position: relative;
    animation-name: magenta;
    animation-duration: .5s;
    animation-delay: 11.5s;
    animation-fill-mode: forwards;
    z-index: 5;

  }
  
  
  @keyframes orange {
    0% {
        background-color: #110023;
    }
    100% {
      background-color: orange;
      border: 1px solid;
    }
  }
  
  @keyframes lightblue {
    0% {
        background-color: #110023;
    }
    100% {
      background-color: #4c4cff;
      border: 1px solid;
    }
  }
  
  @keyframes magenta {
    0% {
        background-color: #110023;
    }
    100% {
      background-color: #ff00ff;
      border: 1px solid;
    }
  }
  
  
  
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/styles/BackgroundAnimation.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #1a1733; /* Valeur ajustée de darken(#1D1A40, 8%) */
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    z-index: -1;
  }
  
  .cube:nth-child(2n) {
    border-color: #292652; /* Valeur ajustée de lighten(#1D1A40, 10%) */
  }
  
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
